@charset "UTF-8";
/* CSS Document */

/* CSS Document for Desktop Imports */
@import url("./desktop/index.css") ( orientation:landscape) and (min-width:460px);
@import url("./desktop/index.css") (aspect-ratio: 16/9) and (min-width:460px);
@import url("./desktop/index.css") (aspect-ratio: 16/10) and (min-width:460px);
@import url("./desktop/index.css") (aspect-ratio: 8/5) and (min-width:460px);
@import url("./desktop/index.css") (aspect-ratio: 4/3) and (min-width:460px);
@import url("./desktop/index.css") (aspect-ratio: 3/2) and (min-width:460px);

/* CSS Document for Mobile Imports */
@import url("./mobile/index.css") (orientation:portrait);
@import url("./mobile/index.css") (max-width:460px);
@import url("./mobile/index.css") (aspect-ratio: 9/16);
@import url("./mobile/index.css") (aspect-ratio: 10/16);
@import url("./mobile/index.css") (aspect-ratio: 5/8);
@import url("./mobile/index.css") (aspect-ratio: 3/4);
@import url("./mobile/index.css") (aspect-ratio: 2/3);


@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
  background-attachment: fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.gridlines * {
  border: 1px green dotted;
}

/* FOCUS */
* summary:focus,
* a:focus,
* button:focus {
  outline: none;
}

/* NAV */
nav {
  float: left;
  width: 0;
  height: auto;
  padding: 20px;
}
nav > component {
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
  left: 0;
  right: 0;
  bottom:80px;
	background-color: #111;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  nav > component a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #ecffc7;
	display: block;
	transition: 0.3s;
  }
  
  nav > component a:hover {
	color: #f1f1f1;
  }

  nav summary{
    list-style: none;
    border:none;
    white-space: nowrap;
  }
  nav summary::-webkit-details-marker {
    display: none;
  }
  nav details {
    padding: 15px;
    background-color: #222;
    margin-bottom: 3px;
  }

  nav summary:before {
    content: url('/img/Q_web.svg'); /* the icon for list in sidebar */
    color: #e5f59d;
    margin-right: 20px;

  }

	nav {color: white;}



nav {
	text-align: justify;
	z-index: 9;
}

nav > button.navbtn{
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  top:0;
  left:0; 
  position:fixed;
}
nav > button.navbtn:after { content:'\2630'; }

nav > component > span.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

nav > component > span.closebtn:after{content: "\00d7";}


nav .navcontent{
  padding-top: 20px;
}

nav, article {
  width: 100%;
  height: auto;
  position: relative;
}

/* END NAV */

/* TOPNAV */
nav > span.topnav {
  width:100%;
  top:0;
  left:0;
  position: fixed;
  height:70px;
  background-color: #111;
  overflow: hidden;
}

nav .topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color:white;
}

nav .topnav a:hover {
  background-color: rgb(49, 45, 45);
}

nav .topnav a.active {
  background-color: rgb(134, 134, 134);
}

nav .topnav .login-container {
  float: right;
}

nav .topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

nav .topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .topnav .login-container button:hover {
  background-color: rgb(230, 255, 230);
}
nav form {
  display:grid;
  grid-gap: 20px;
  grid-auto-flow: column;
}
/* END TOPNAV */


/* HEADER */
header{
  padding-top: 80px;
}
header div {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    padding: 0;
    margin: 0;
    border-radius: 7px;
}
header div img {
  padding: 5%;
}

/* FOOTER */
footer{  
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: #fff7f7;
  z-index: 10;
}

/* END FOOTER */

/* BUTTONS */
button:not(.navbtn), input {
  border-radius: 27px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
  outline: none;
 
}

button:not(.navbtn){
  border: solid #FFFFFF !important;
  border-left: 3px !important;
  border-right: 3px !important;
  border-radius: 7px !important;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size:12px;
  font-family:arial, helvetica, sans-serif; 
  padding: 18px 18px 18px 18px; 
  text-decoration:none; 
  display:inline-block;
  font-weight:bold; 
  color: #FFFFFF;
  background-color: #A5B8DA; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A5B8DA), to(#7089B3));
  background-image: -webkit-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: -moz-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: -ms-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: -o-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: linear-gradient(to bottom, #A5B8DA, #7089B3);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#A5B8DA, endColorstr=#7089B3);
}

button:not(.navbtn):hover{
  background-color: #819bcb; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
  background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
  background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
  background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
  background-image: -o-linear-gradient(top, #819bcb, #536f9d);
  background-image: linear-gradient(to bottom, #819bcb, #536f9d);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
 
}

/* END BUTTONS */