/* Insert here your custom CSS */
/* GRID */
component[name=grid]{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    padding: 5%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

header{
  padding: 0;
}
