<style>
.codespaces-button {
    cursor: pointer;
    background-color: #636364;
    color: white;
    /* height: 50px; */
    margin: 0 auto;
    align-content: center;
    box-shadow: rgba(228, 228, 234, 0.22) 2px 6px 25px 0, rgba(228, 228, 234, 0.5) 1px 2px 23px 0;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
    width: 250px;
    gap: 10px;
    margin: 10px;
    justify-content: start;
    align-items: end;
    justify-items: center;
}
.codespaces-button:hover {
  box-shadow: rgba(228, 228, 234, 0.56) 0 22px 32px 0, rgba(228, 228, 234, 0.64) 0 9px 28px 0;
  background-color: #a2a2a6;
}
</style>
<div class="codespaces-button">
        <a href="https://github.com/codespaces/new?hide_repo_select=true&amp;ref=main&amp;repo=302519279"><img
                src="https://github.com/codespaces/badge.svg" alt="Open in GitHub Codespaces" style="max-width: 100%;"></a>
</div>
