<style>
.github-button {
    cursor: pointer;
    background-color: #0d1116;
    color: white;
    /* height: 50px; */
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0 auto;
    align-content: center;
    box-shadow: rgba(228, 228, 234, 0.22) 2px 6px 25px 0, rgba(228, 228, 234, 0.5) 1px 2px 23px 0;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
    width: 250px;
    gap: 10px;
    margin: 10px;
    justify-content: start;
    align-items: end;
    justify-items: center;
}
.github-button:hover {
  box-shadow: rgba(228, 228, 234, 0.56) 0 22px 32px 0, rgba(228, 228, 234, 0.64) 0 9px 28px 0;
}
.github-button-p {
    font-size: small;
}
</style>
<div class="github-button">
    <p class="github-button-p">Generate in <a aria-label="GitHub" href="https://github.com/QuickCorp/qcobjects-new-app/generate"><b>GitHub</b></a></p>
    <octocat-icon data-position="relative" data-label="GitHub" data-color="white" data-url="https://github.com/QuickCorp/qcobjects-new-app/generate"></octocat-icon>
</div>
