<style>
    .netlify-button{
        margin: 0 auto;
        box-shadow: rgba(228, 228, 234, 0.22) 2px 6px 25px 0, rgba(228, 228, 234, 0.5) 1px 2px 23px 0;
        transition: all 0.3s ease-in-out;
        align-items: center;
        border-radius: 7px;
        display: block;
        background-color: #2d51ed;
        margin: 10px;        
    }
    .netlify-button:hover{
        box-shadow: rgba(228, 228, 234, 0.56) 0 22px 32px 0, rgba(228, 228, 234, 0.64) 0 9px 28px 0;
    }
</style>
<a class="netlify-button"
href="https://app.netlify.com/start/deploy?repository=https://github.com/QuickCorp/qcobjects-new-app">
<img src="img/netlify-button.svg" title="Deploy to Netlify">
</a>
