<style>
    .logo {
      display: block;
    }
  </style>
  <div style="position: absolute; top: 125px;margin: auto 30px; padding-bottom: 80px;">
    <component class="logo" serviceClass="QCObjectsVersionService" response-to="data"
      name="../../img/logo-qcobjects-version" tplextension="svg" style="width:100%"></component>
  
    <div class="css-nil">
      <h2 class="css-i52n91">What is QCObjects Framework?</h2>
      <div class="css-13sfqhu">It is a powerful framework to build cross-platform web applications. You can use it to
        build an API in Node and to build the front-end in the browser as well. Killer features are dynamic link capturing
        and regex routing, On-demand resources loading and multi-layer components. In the front-end it has PWA built-in
        features as responsive layout design, and in the back-end it has a micro services middleware.</div>
      <div class="css-13sfqhu">QCObjects Framework is a tool in the <strong>Frameworks (Full Stack)</strong> category of a
        tech stack.</div>
      <component name="pages/qcobjects-forks-stars" serviceClass="QCObjectsStarsForksService" response-to="data"></component>
      <div class="css-13sfqhu"></div>
    </div>
  </div>