<style>
  .author {
    top: 125px;margin:30px; padding-bottom: 30px;    
  }
</style>
<div class="author">
    <img src="https://qcobjects.dev/doc/img/jeanmachuca.png" alt="jeanmachuca">
    <h1 id="about-the-author">About the author:</h1>
    <ul>
    <li>Jean Machuca is the author of QCObjects and he has over 20 years of experience doing software<br>
    in different programming languages for banking, health, retail and advertising industries.</li>
    </ul>
    <h2 id="a-brief-of-the-story-of-jean-and-his-purpose">A brief of the story of Jean and his purpose:</h2>
    <p>He published the first commit of QCObjects in 2015 focusing its development<br>
    in quality over quantity.<br>
    The main goal of Jean doing QCObjects was to be happy while coding the lots of custom software for the customers of QuickCorp, its own company since 2014.<br>
    To read ilegible code is very frustrating and unhappy. To avoid this, Jean created a framework to code fancy, clean and quick using a single technology for backend and front-end together, and he did it based in the most used language of the world (JavaScript).</p>
    <p>QCObjects was introduced to the world's market in July of 2019 in the RISE Conference, the largest tech conference of Asia, and it was been exhibited in the Web Summit on Lisbon 2019, the best technology conference on the planet.
      <a href="https://britishherald.com/qcobjects-the-first-world-class-tech-framework-made-in-south-america-is-meant-to-make-developers-happier-while-they-code/">QCObjects is being featured by British Herald as today, the most advanced framework for modern software development.</a></p>
    <p>Now, almost anyone in the world can use QCObjects to develop almost any kind of end to end solutions, and they can quick start in just one step.</p>
    <p>Jean's dream is to become QCObjects into the next-generation tool for software development</p>
    <p>You want to know more about Jean? Meet him in person here in a <a href="https://superpeer.com/qcobjects">video chat</a></p>
    </div>