.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    min-height: 300px;
    height: auto;
    border-radius: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .container {
    padding: 2px 16px;
}

.card img {
    border-radius: 30px 30px 0 0px;
    min-height: 100px;
}

#slot-logo::slotted(img) {
    border-radius: 30px 30px 0 0px;
    min-height: 100px;
}


.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  opacity: 0.7;
}

#slot-card-button::slotted(button) {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
#slot-card-button::slotted(button):hover {
  opacity: 0.7;
}


component[name=card]{
  max-height: 1600px;
}
