<h1>Latest Products</h1>
<p>Find our latest products here </p>
<p></p>
<component name="grid" template-source="none">
  <component name="card" data-title="title" data-description="description" data-image="Q_web.png"></component>
  <component name="card" data-title="title" data-description="description" data-image="Q_web.png"></component>
  <component name="card" data-title="title" data-description="description" data-image="Q_web.png"></component>
  <component name="card" data-title="title" data-description="description" data-image="Q_web.png"></component>
  <component name="card" data-title="title" data-description="description" data-image="Q_web.png"></component>
  <component name="card" data-title="title" data-description="description" data-image="Q_web.png"></component>
</component>