<header>
  <component name="header">
    <routing path="#signup" name="blank"></routing>
  </component>
</header>
<aside>
  <nav>
    <span class="topnav">
      <component name="login">
          <routing path="#signup" name="blank"></routing>
      </component>
    </span>
    <button class="navbtn" onclick="GLOBAL.sideNavController.toggle()"></button>
    <component name="nav" controllerClass="SideNavController"></component>
  </nav>
</aside>
<main role= “main”>
  <section>
    <component name="contentblock">
        <routing path="#signup" name="signup"></routing>
      </component>
  </section>
</main>
<footer>
  <component name="footer">
    <routing path="#signup" name="signupbuttons"></routing>
  </component>
</footer>