<component name="shadowed-card" shadowed="true" data-title="{{title}}"
data-description="{{description}}" data-image="{{image}}">

  <img slot="logo" src="img/{{image}}" alt="Avatar" style="width:100%">
  <b slot="card_title">{{title}}</b>
  <div style="min-height:205px" slot="card_description">{{description}}</div>
  <div slot="card-button" style="display:grid; grid-template-columns: 50% 50%;padding:10px;bottom:0;"><p style="float:left">By this course for </p><button onclick="location.href='#coursedetail'" style="float:right">{{price}}</button></div>

</component>
